<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/ShopWebsite/statics/scripts/base.js">
</head>
<body>
    <header></header>
    <main>
        <%- body %>
    </main>
    <footer></footer>
</body>
</html>