<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/ShopWebsite/statics/css/home.css">
  <script src="/ShopWebsite/statics/scripts/home.js" defer></script>
</head>
<body>

  <header>

    <nav id="topbar">
      <button id="menu-button">☰</button>
    </nav>

    <div id="overlay"></div>

    <nav id="sidebar">
      <button id="navbar-menu-button">☰ MENU</button>
      <ul>
          <li><a href="#HOME">Home</a></li>
          <li><a href="#ABOUT">About</a></li>
          <li><a href="#SERVICES">Services</a></li>
          <li><a href="#CONTACT">Contact</a></li>
      </ul>
  </nav>



  </header>

  <main></main>
  <footer>
    <p>&copy; 2024 Shop Website</p>
  </footer>

</body>
</html>
