<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/home.css">
  <script src="/scripts/home.js" defer></script>  
</head>
<body>

  <header>
    <div class="topbar">
      <img src="/images/Purple Rose symbol - small.png" alt="Shop Logo" id="logo">
    </div>
    <div class="secondbar">
      <button id="menu-button">☰ MENU</button>
    </div>

    <div id="overlay"></div>

    <nav id="sidebar">
      <div class="top-section"></div>
      <div class="bottom-section"></div>
    </nav>
  </header>

  <main></main>
  <footer>
    <p>&copy; 2024 Shop Website</p>
  </footer>

</body>
</html>
