<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PurpleRose - Home</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <header>
      <div class="topbar">
        <div id="topbar-left">
          <img src="/Images/Logo.png" alt="logo" id="topbar-logo">
        </div>
        <div id="topbar-middle">
          <select id="type-select" name="type">
            <option value="">All</option>
            <option value="">Foods</option>
            <option value="">Games</option>
            <option value="">Clothes</option>
            <option value="">Books</option>
          </select>
          <input type="text" class="search-bar" placeholder="Search...">
          <button id="search-button">
            <img src="/Images/SearchIcon.png" alt="Search Icon">
          </button>
        </div>
        <div id="topbar-right">
          <div id="auth-buttons">
            <button id="login-button">Login</button>
            <button id="signup-button">Signup</button>
          </div>
          <div id="account-info">
            <div class="user-icon-container">
              <img src="/Images/UserIcon.png" alt="User Icon" class="user-icon">
            </div>
            <div class="account-container">
              <span class="account-text"></span>
            </div>
          </div>
          <div class="cart-container">
            <img src="/Images/Cart.png" alt="Cart" class="cart-icon">
            <span id="cart-count" class="cart-count">0</span>
          </div>
        </div>
      </div>
    </header>

    <main></main>

    <footer></footer>
</body>
</html>
