<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PurpleRose - Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="/Images/Logo.png" alt="logo" id="login-logo">
        </div>
    </header>

    <main>
        <div class="login-container">
            <h1 class="login-header">Login</h1>
            <form action="/login" method="POST">
                <div class="input-group">
                    <span class="icon-container">
                        <img src="/Images/AccountIcon.png" alt="Username Icon" class="input-icon">
                    </span>
                    <input type="text" name="username" placeholder="Username" required>
                </div>

                <div class="input-group">
                    <span class="icon-container">
                        <img src="/Images/PasswordIcon.png" alt="Password Icon" class="input-icon">
                    </span>
                    <input type="password" name="password" placeholder="Password" required>
                </div>

                <button type="submit" id="login-submit-button">Login</button>
            </form>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 PurpleRose. All rights reserved.</p>
    </footer>
</body>
</html>
