<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PurpleRose - Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <img src="/Images/Logo.png" alt="Logo" class="logo">
    <div id="login-box" class="modal">
    <h2 class="modal-title">Login</h2>
    
    <div class="input-group">
        <div class="icon-container">
            <img src="/images/AccountIcon.png" alt="Account Icon">
        </div>
        <input type="text" id="username" placeholder="Account">
    </div>

    <div class="input-group">
        <div class="icon-container">
            <img src="/images/PasswordIcon.png" alt="Password Icon">
        </div>
        <input type="password" id="password" placeholder="Password">
    </div>
    
    <div class="login-options">
        <div class="remember-me">
            <input type="checkbox" id="remember-me">
            <label for="remember-me">Remember me</label>
        </div>
        <button id="google-login-button">
            <img src="/images/GoogleLogo.png" alt="Google">
        </button>
    </div>
    
    <button id="login-button">Login</button>
    
    <div class="signup-box">
        <p>Don't have an account? Click here!</p>
        <button id="signup-button">Sign Up</button>
    </div>
    </div>
</body>
</html>